---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Main from "../layouts/Main.astro";
import LongCard from "../components/LongCard.astro";
import Section from "../layouts/Section.astro";
import HowWeImplementIt from "../components/HowWeImplementIt.astro";
import Sponsors from "../components/Sponsors.astro";
---

<Layout title="CEOP">
	<NavBar />
	<Main />
	<Section
		spanText="SOLICITA TU MEDICION AQUI"
		sectionName="preguntas-frecuentes"
		bgColor={"blue"}
	>
		<LongCard title="¿Donde se realiza?">
			La medicion se realiza en el tablero de la maquina a proteger en donde
			medimos detalladamente todos los parametros de calidad de energia
		</LongCard>
	</Section>
	<Section spanText="SOLICITA TU MEDICION AQUI">
		<HowWeImplementIt />
	</Section>
	<Section bgColor={"blue"} spanText="ASESORAMIENTO GRATUITO DE UN EXPERTO">
		<Sponsors />
	</Section>
</Layout>
