---
import { Color } from "../types/Color";
import DownArrow from "./DownArrow.astro";
export interface Props {
	fill: Color;
}
const { fill } = Astro.props as Props;
---

<div class="click-here-container">
	<a href="#">
		<span class="arrow">
			<DownArrow fill={fill} />
		</span>
		<div class="text">SOLICITA TU MEDICION AQUI</div>
	</a>
</div>

<style>
	.click-here-container {
		position: relative;
	}
	span {
		position: absolute;
		top: -55%;
		left: 45%;
	}
	.text {
		color: #ffffff;
		font-size: 1.3rem;
		font-weight: 500;
		padding: 0.5rem 1rem;
		border-radius: 5px;
		background-color: #ff0000;
	}
</style>
