---
import ListItem from "./ListItem.astro";
---

<nav>
	<ul>
		<ListItem isImage anchor={{ ref: "/" }}>
			<img class="logo" src="../../public/CEOP logo/logo.jfif" alt="Logo" />
		</ListItem>
		<li>
			<ul class="sections">
				<ListItem anchor={{ ref: "#" }}>CEOP</ListItem>
				<ListItem anchor={{ ref: "#" }}>Preguntas Frecuentes</ListItem>
				<ListItem anchor={{ ref: "#" }}>Soluciones</ListItem>
				<ListItem anchor={{ ref: "#" }}>Instagram</ListItem>
			</ul>
		</li>
	</ul>
</nav>

<style>
	nav {
		background-color: #dddddd;
		height: 100px;
		padding-block: 1rem;
	}

	nav > ul {
		display: flex;
		gap: 1rem;
		justify-content: space-evenly;
		height: 100%;
		align-items: flex-end;
	}

	.logo {
		width: 100%;
		min-width: 100px;
		height: 100%;
		object-fit: contain;
	}
	.sections {
		display: flex;
		justify-content: center;
		gap: 3rem;
	}
</style>
