---
export interface Props {
	title: string;
}
const { title } = Astro.props as Props;
---

<article class="short-article">
	<h3>{title}</h3>
	<p><slot /></p>
</article>
<style>
	.short-article {
		width: 35vmax;
		max-width: 420px;
		height: 300px;
		border-radius: 12px;
		padding: 1.7rem;
		background-color: #4681cebb;
		color: #ffffff;
	}
</style>
