<div class="sponsors">
	<div class="sponsors__content">
		<h3>REPRESENTANTES EXCLUSIVOS</h3>
		<p>
			Cada evento tiene una solución, nosotros te acercamos a los expertos en
			cada tipo de solución
		</p>
	</div>
	<div>
		<ul class="sponsors__list">
			{
				new Array(5).fill("asddwe").map((val, idx) => (
					<li>
						<a href="#">{val}</a>
					</li>
				))
			}
		</ul>
	</div>
</div>

<style>
	.sponsors {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
	}
	.sponsors__list {
		display: flex;
		max-width: 40vw;
		overflow-x: auto;
		gap: 1rem;
		color: #000000;
	}
</style>
