<div class="blue-advice">CALIDAD DE ENERGIA ORIENTADA A PROCESOS</div>
<style>
	.blue-advice {
		font-size: 1.2rem;
		padding-block: 0.4rem;
		text-align: center;
		background-color: #3162aa;
		color: #ffffff;
	}
</style>
