---
import ClickHere from "../components/ClickHere.astro";
import { Color } from "../types/Color";

export interface Props {
	bgColor?: Color;
	sectionName?: string;
	spanText: string;
}

const { bgColor, sectionName, spanText } = Astro.props as Props;
const _bgColor = bgColor || "white";
---

<section class={_bgColor} id={sectionName ? sectionName : undefined}>
	<slot />
	<ClickHere fill={_bgColor} text={spanText} />
</section>
<style>
	section {
		min-height: 475px;
		max-height: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		gap: 2rem;
	}
	section:not(:last-child) {
		margin-bottom: 2rem;
	}
	section.blue {
		background-color: #222cb4;
		color: #ffffff;
	}
</style>
