---
import ClickHere from "../components/ClickHere.astro";
import { Color } from "../types/Color";

export interface Props {
	bgColor?: Color;
}

const { bgColor } = Astro.props as Props;
const _bgColor = bgColor || "white";
---

<section class={_bgColor}>
	<slot />
	<ClickHere fill={_bgColor} />
</section>
<style>
	section {
		min-height: 475px;
		max-height: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	section.blue {
		background-color: #222cb4;
	}
</style>
